DB_USER=opendata
DB_PASSWORD=
DB_NAME=opendata

PG_MAIL=
PG_PW=
GRAFANA_PW=

READONLY_PW=

PREFECT_POSTGRES_USER=prefect_user
PREFECT_POSTGRES_PASSWORD=
PREFECT_POSTGRES_DB=prefect_prod

REDIS_PASSWORD=

PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
PREFECT_REDIS_MESSAGING_PASSWORD=${REDIS_PASSWORD}