# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

bs4
cdsapi
cfgrib
cloudscraper
eccodes
entsoe-py
geoalchemy2
geopandas
geopy
git+https://github.com/maurerle/roiti-gie@maurerle
jao-py
json5
lxml
netztransparenz
numpy
openpyxl
open-mastr
pandas
prefect==3.6.17
psycopg2-binary
py7zr<1
pyarrow
pygrib
pyshp
python-dateutil
requests
scipy
shapely
sqlalchemy
swifter
tqdm
yfinance
xarray
