# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

beautifulsoup4
cdsapi
cfgrib
cloudscraper
eccodes
entsoe-py
geoalchemy2
geopandas
geopy
git+https://github.com/maurerle/roiti-gie@maurerle
jao-py
json5
lxml
netztransparenz
numpy
openpyxl
open-mastr
pandas
pdfplumber # for netzentgelte grid-fee price sheets (PDF)
psycopg2-binary
tzdata # for additional timezones like Europe/Kiev in entsoe
py7zr<1
pyarrow
pygrib
pyshp
python-dateutil
requests
scipy
shapely
sqlalchemy
tqdm
yfinance
xarray
